<div class="modal fade" id="logOutModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="logOutModalLabel">Log Out</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="/logout" type="button">Log Out</a>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-md mynavbar" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Stacks Of Wax</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Collections</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/albums">Albums</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/artists">Artists</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Record Labels</a>
        </li>



      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Enter search term..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>

      <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">

          <% if (typeof user !== 'undefined') { %>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person-fill"></i>
              <%= //user.user_name %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="/addcollection" type="Add Collection">Add New Collection</a></li>
              <li><a class="dropdown-item" href="#" type="button">View My Collections</a></li>
              <li>
                <!-- <a class="dropdown-item" href="#" type="button">Log Out</a> -->
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logOutModal">
                  Log Out
                </button>
              </li>


            </ul>
          </div>

          <% } else{ %>
          <a class="btn btn-outline-secondary me-2" href="/login" role="button">
            <i class="bi bi-person-fill"></i>
          </a>
          <!-- <a class="btn btn-outline-secondary" href="/register" role="button">Register</a> -->
          <% } %>
        </form>
      </nav>
    </div>
  </div>
</nav>

<div class="fullpage">