<%- include('components/header') %>
<%- include('components/navbar') %>

<div class="light-text">

  <p>
    An error has occurred, please try again.
  </p>
  <p>
    <%= message || ""%>
  </p>
</div>

<%- include('components/footer') %>