<%- include('components/header') %>

<div class='login-background'>

  <div class="outer">
    <div class="middle">
      <div class="card text-center login-card">
        <div class="card-header">
          <h3>
            StacksOfWax
          </h3>

        </div>
        <div class="card-body">



          <h5 class="card-title">Register</h5>
          <p class="card-text">Please enter your desired username and password.</p>



          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-person-fill"></i>
            </span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-lock-fill"></i>
            </span>
            <input type="text" class="form-control" placeholder="Password" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>


          <a href="#" class="btn btn-primary">Sign Up</a>
          <a href="/" class="btn btn-secondary">Back</a>

        </div>
        <div class="card-footer text-body-secondary">

          <a class="link-none" href="/login">
            Already have an account?
          </a>
        </div>
      </div>
    </div>
  </div>
</div>