<%- include('components/header') %>

<div class='login-background'>

  <form method="POST" class="needs-validation" id="register" action="/register" novalidate>

    <div class="outer">
      <div class="middle">
        <div class="card text-center login-card">
          <div class="card-header">
            <h3>
              StacksOfWax
            </h3>
          </div>

          <div class="card-body">
            <h5 class="card-title">Register</h5>
            <p class="card-text">Please enter your details.</p>

            <% if (typeof responseData !== 'undefined') { %>
            <p class="card-text text-danger"> <%= responseData.message %> </p>
            <% } %>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-person-fill"></i>
              </span>
              <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                aria-label="Username" aria-describedby="basic-addon1" required>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-lock-fill"></i>
              </span>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                aria-label="Username" aria-describedby="basic-addon1" required>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                DOB
              </span>
              <input type="date" id="dob" name="dob" class="form-control" aria-label="Date" value="2023-01-01"
                min="1900-01-01" max="2020-01-01">
            </div>

            <select id="gender" name="gender" class="form-select mb-3" aria-label="Default select example" required>
              <option selected disabled value>Gender Identity</option>
              <option value="Woman">Woman</option>
              <option value="Man">Man</option>
              <option value="Transgender">Transgender</option>
              <option value="Non-binary/non-conforming">Non-binary/non-conforming</option>
              <option value="Prefer not to respond">Prefer not to respond</option>
            </select>

            <select id="nationality" name="nationality" class="form-select mb-3" aria-label="Default select example"
              required>
              <option selected disabled value>Nationality</option>
              <option value="Ireland">Ireland</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States of America">United States of America</option>
              <option value="Other">Other</option>
            </select>

            <div class="col-12 mb-3">
              <div class="form-check" style="text-align: left;">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
              </div>
            </div>

            <button class="btn btn-primary" type="submit" id="button-addon2">Sign Up</button>
            <a href="<%= backURL || "/" %>" class="btn btn-secondary">Back</a>

          </div>
          <div class="card-footer text-body-secondary">
            <a class="link-none" href="/login">
              Already have an account?
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  // Disabling form submissions if there are invalid fields
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>